.footer-cta-inner {
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
  background-position: center center;
  background-image:
    url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23333' stroke-width='3' stroke-dasharray='10%2c 12' stroke-dashoffset='48' stroke-linecap='square'/%3e%3c/svg%3e"),
    var(--map1-url);
}

.footer-cta {
  background-size: cover;
}

.footer-cta-left {
  padding-right: 5%;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='%23333' stroke-width='3' stroke-dasharray='10%2c 12' stroke-dashoffset='48' stroke-linecap='square'/%3e%3c/svg%3e");
  background-size: 110% 140%;
  background-position: 100% 20%;
  background-repeat: no-repeat;
}

@media (max-width: 699px) {
  .footer-cta-inner {
    border-radius: 20px;
    background-image:
      url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='2' stroke-dasharray='10%2c 12' stroke-dashoffset='48' stroke-linecap='square'/%3e%3c/svg%3e"),
      var(--map1-url);
  }
}